.ppu {
  display: flex;
  flex-direction: column;
  width: 290px;
  padding: 5px;
  border: dotted gray 1px;
  font-size: 14px;
}

.palette {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.palette_color {
  width: 16px;
  height: 16px;
  border: solid 1px lightgray;
}

.tileset {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px red;
  border-left: solid 1px red;
}

.tile {
  /* margin-right: 1px;
  margin-bottom: 1px; */
  border-bottom: solid 1px red;
  border-right: solid 1px red;
  width: 16px;
  height: 16px;
}
