.tilemaps-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.tilemaps-selection {
  display: flex;
  justify-content: space-evenly;
}

.tilemaps-canvas-div {
  border: solid black 1px;
  height: 256px;
  width: 256px;
}
