.debugger {
  padding: 10px;
  font-family: 'Menlo', monospace;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.debugger_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.debugger_controls {
  display: flex;
  margin-bottom: 4px;
}

.debugger_controls > button {
  margin-right: 4px;
}

.steps_per_second {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.spacer {
  width: 20px;
}

.section {
  margin-bottom: 12px;
  font-weight: bold;
}

.subsection {
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
}
