.registers_pair {
  display: flex;
  justify-content: space-around;
}

.flags {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  height: 21px;
}

.flag {
  color: lightgray;
  width: 16px;
  text-align: center;
}

.flag_active {
  color: black;
  border: solid 1px gray;
}

.operation_label {
  font-size: 10pt;
}
