.disabled {
  color: lightgray;
}

.breakpoint {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.highlighted {
  background-color: red;
}

.breakpoint_details {
  padding-left: 8px;
}
