.mmu {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: dotted gray 1px;
  width: 730px;
  user-select: none;
}

.page_count {
  font-size: 10px;
  justify-content: space-between;
}

.page_arrow {
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.shortcuts {
  margin-top: 4px;
  display: flex;
}

.shortcuts > button {
  margin-right: 4px;
}

.table_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
  margin-bottom: 1px;
}

.table_header_bytes {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table_header_item {
  width: 30px;
  color: gray;
  text-align: center;
}

.table_header_item_selected {
  background-color: lightgray;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row_bytes {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row_ascii {
  display: flex;
  width: 160px;
  border-left: solid 1px lightgray;
  justify-content: center;
}

.ascii {
  color: gray;
  display: flex;
  border: 1px solid;
  border-color: transparent;
  font-size: 13px;
  width: 7px;
  text-align: center;
}

.ascii_selected {
  border: lightblue 1px solid;
}

.row_offset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  border-right: solid 1px lightgray;
  color: gray;
  margin-right: 1px;
}

.row_offset_selected {
  background-color: lightgray;
}

.byte {
  width: 30px;
  color: black;
  text-align: center;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.byte_selected {
  font-weight: bold;
  background-color: lightblue;
  color: white;
}

.byte_breakpoint {
  background-color: red;
  color: white;
}

.byte_breakpoint_disabled {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}

.byte_selected.byte_breakpoint {
  border: 3px solid lightblue;
  box-sizing: border-box;
}

.highlighted_address {
  font-size: 12px;
}
